body {
  list-style: none;
}
.main-photo {
  height: 200px;
}
.page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: hsla(41, 63%, 46%, 0.5);
  color: hsl(41, 27%, 18%);
}
h1 {
  margin: 15px;

}
.entry {
    display: flex;
    flex-direction: row;
}
.image {
  margin-right: 15px;

}
.info {

}
.positive {
  color: green;
}
.negative {
  color: red;
}
.dateAndComments {
  flex-direction: row;
}
.commentForm {
  display: flex;
  flex-direction: column;
}
.commentsTitle {
  font-size: 19px;
  margin-right: 10px;
}
.commentSubmit {
  width: 150px;
  margin: 10px;
}
.glyphicon {
  margin: 8px;
}
.addPlace {
  margin: 10px;
}



/* ngAnimate  */

/*.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.ng-leave.ng-leave-active {
  opacity:0;
}

/*This is for our hiding (this is not a class from ng-animate)*/
/*.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}*/*/





/*.ng-enter {
  transition:0.4s ease all;
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
}

.ng-leave {
  transition:0.4s ease all;
  opacity:1;
  transform:translateX(0);
}

.ng-leave.ng-leave-active {
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter-stagger, .ng-leave-stagger {
  transition-delay: 0.2s;
  transition-duration:0;
}*/

/*  end ngAnimate  */
