body {
  list-style: none;
}
.main-photo {
  height: 200px;
}
.entry {
    display: flex;
    flex-direction: row;
}
.image {
  margin-right: 15px;

}
.info {

}
.positive {
  color: green;
}
.negative {
  color: red;
}
.dateAndComments {
  flex-direction: row;
}
.commentForm {
  display: flex;
  flex-direction: column;
}
