body {
  list-style: none;
}
.main-photo {
  height: 200px;
}
.page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: hsla(41, 63%, 46%, 0.5);
  color: hsl(41, 27%, 18%);
}
h1 {
  margin: 15px;

}
.entry {
    display: flex;
    flex-direction: row;
}
.image {
  margin-right: 15px;

}
.info {

}
.positive {
  color: green;
}
.negative {
  color: red;
}
.dateAndComments {
  flex-direction: row;
}
.commentForm {
  display: flex;
  flex-direction: column;
}
.commentsTitle {
  font-size: 19px;
  margin-right: 10px;
}
.glyphicon {
  margin: 8px;
}
.addPlace {
  margin: 10px;
}
